@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #36ab55;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  gap: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

main {
  display: flex;
}

.sidebar {
  padding: 30px;
  width: 30%;
  background-color: #e8e9e8;
}

.content {
  background-color: #e8e9e8;
  width: 100%;
  padding: 30px;
}

footer {
  background-color: #36ab55;
  text-align: center;
  padding: 30px;
  text-transform: capitalize;
  color: white;
}

.footer-division {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 200px;
  background-color: #ddd;
}
